<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>FinFlex</title>
<link rel="icon" type="favicon" href="{{ url_for('static', filename='Logo.ico') }}">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet">
<style>
body{
background-color: #e3eefb;
}

{% include 'navbarstyle.html' %}

.btn:hover:not(:focus),
.nav-link:hover:not(:focus) {
outline: 1px solid black;
border-radius: 5px;
}

.whole{
display: flex;
}

.link-body-emphasis{
padding-bottom: 15px;
}

.grid-container{
display: grid;
position: relative;
width: 1400px;
height: 630px;
grid-template-columns: 270px 170px 90px 260px 470px;
grid-template-rows: 100px 50px 150px 300px;
gap: 10px;
}

.grid-item{
background-color: white;
border-radius: 20px;
padding: 15px;
}

.Spendings{
grid-column: span 2;
grid-row: span 2;
}

.Spendings-cat{
grid-row: span 3;
}

.Savings-Goal{
grid-row: span 2;
}

.Income-Sources{
grid-row: span 2;
}

.Income{
grid-column: span 2;
}

.Dummy{
grid-row: span 2;
}

.Income-Expenses{
grid-column: span 2;
}

.Assests{
grid-column: span 2;
}

@media (min-width: 992px) {
.sidebar {
display: block;
}
}
</style>
</head>

<body>
{% include 'navbar.html' %}
<div class="d-flex">
{% include 'sidebar.html' %}
<span style="width: 460px;"></span>
<div class="align-self-center pt-2" style="font-size: 39px;">
Hello, <span class="fw-bold text-primary">{{ user.firstname }}</span>
</div>
</div>
<div class="d-flex">
  {% with template_name = 'home' %}
    {% include 'months.html'%}
  {% endwith %}

<div class="grid-container pt-1 ps-4 fs-5">
<div class="Total-Net-Worth fs-5 grid-item bg-primary text-light">
<div class="fw-bold">Total Net Worth</div>
<div style="font-size: xx-large;">$ 1000000</div>
</div>
<div class="Spendings grid-item">
  <div class="text-primary fw-bold">Spendings</div>
</div>
<div class="Spendings-cat grid-item">
  <div class="text-primary fw-bold">Spendings Categories</div>
  <div class="d-flex flex-column w-100 h-100 justify-content-evenly px-3 pb-5">
    <div class="d-flex w-100 align-items-center">
      <div class="feature-icon-small d-inline-flex align-items-center justify-content-center rounded-3 p-2" style="background-color: #636CEE; height: 2.5rem; width: 2.5rem;">
        <svg xmlns="http://www.w3.org/2000/svg" width="1.5rem" height="1.5rem" fill="white" class="bi bi-house-fill" viewBox="0 0 16 16">
  <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L8 2.207l6.646 6.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.707 1.5Z"/>
  <path d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6Z"/>
        </svg>
      </div>
      <div class="d-flex flex-column ps-3 fs-6">
        <p class="fw-bold m-0">Housing</p>
        <p class="m-0">$ 2000</p>
      </div>
    </div>
    <div class="d-flex w-100 align-items-center">
      <div class="feature-icon-small d-inline-flex align-items-center justify-content-center rounded-3 p-2" style="background-color: #5CC99A; height: 2.5rem; width: 2.5rem;">
        <svg xmlns="http://www.w3.org/2000/svg" width="1.5rem" height="1.5rem" fill="white" class="bi bi-people-fill" viewBox="0 0 16 16">
  <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7Zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm-5.784 6A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216ZM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Z"/>
</svg>
      </div>
      <div class="d-flex flex-column ps-3 fs-6">
        <p class="fw-bold m-0">Personal</p>
        <p class="m-0">$ 1000</p>
      </div>
    </div>
    <div class="d-flex w-100 align-items-center">
      <div class="feature-icon-small d-inline-flex align-items-center justify-content-center rounded-3 p-2" style="background-color: #D45C43; height: 2.5rem; width: 2.5rem;">
        <svg xmlns="http://www.w3.org/2000/svg" width="1.5rem" height="1.5rem" fill="white" class="bi bi-bus-front-fill" viewBox="0 0 16 16">
  <path d="M16 7a1 1 0 0 1-1 1v3.5c0 .818-.393 1.544-1 2v2a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5V14H5v1.5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-2a2.496 2.496 0 0 1-1-2V8a1 1 0 0 1-1-1V5a1 1 0 0 1 1-1V2.64C1 1.452 1.845.408 3.064.268A43.608 43.608 0 0 1 8 0c2.1 0 3.792.136 4.936.268C14.155.408 15 1.452 15 2.64V4a1 1 0 0 1 1 1v2ZM3.552 3.22A43.306 43.306 0 0 1 8 3c1.837 0 3.353.107 4.448.22a.5.5 0 0 0 .104-.994A44.304 44.304 0 0 0 8 2c-1.876 0-3.426.109-4.552.226a.5.5 0 1 0 .104.994ZM8 4c-1.876 0-3.426.109-4.552.226A.5.5 0 0 0 3 4.723v3.554a.5.5 0 0 0 .448.497C4.574 8.891 6.124 9 8 9c1.876 0 3.426-.109 4.552-.226A.5.5 0 0 0 13 8.277V4.723a.5.5 0 0 0-.448-.497A44.304 44.304 0 0 0 8 4Zm-3 7a1 1 0 1 0-2 0 1 1 0 0 0 2 0Zm8 0a1 1 0 1 0-2 0 1 1 0 0 0 2 0Zm-7 0a1 1 0 0 0 1 1h2a1 1 0 1 0 0-2H7a1 1 0 0 0-1 1Z"/>
</svg>
      </div>
      <div class="d-flex flex-column ps-3 fs-6">
        <p class="fw-bold m-0">Transportation</p>
        <p class="m-0">$ 500</p>
      </div>
</div>
  </div>
    
</div>
<div class="Savings-Goal grid-item">
  <div class="d-flex justify-content-between pe-2">
    <div class="text-primary fw-bold">Savings Goal</div>
    <div>
      <button type="button" class="btn btn-primary p-1" data-bs-toggle="modal" data-bs-target="#goalModal">
        <svg xmlns="http://www.w3.org/2000/svg" width="1.5rem" height="1.5rem" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
        </svg>
      </button>
      <div class="modal fade" id="goalModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="goalModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h2 class="modal-title text-primary" id="goalModalLabel">Add Savings Goal</h2>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form action="{{ url_for('home', month_id=month_id) }}" method="POST">
                <input type="hidden" name="form_name" value="goal">
                <div class="mb-3">
                  {% if goal_amount %}
                    <label for="amountInput" class="form-label fs-5">Update amount<span class="text-danger">*</span></label>
                    <input type="number" class="form-control" id="amountInput" name="amountInput" placeholder="Enter amount" step="0.01" value="{{goal_amount}}" required>
                  {% else %}
                    <label for="amountInput" class="form-label fs-5">Amount<span class="text-danger">*</span></label>
                    <input type="number" class="form-control" id="amountInput" name="amountInput" placeholder="Enter amount" step="0.01" required>
                  {% endif %}
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% if goal_amount %}
    <div>
      <div class="d-flex fs-6 justify-content-between mt-2">
        <div class="d=flex flex-column ms-2">
          <p class="m-0">This month's progress : </p>
          <h5 class="text-primary">{{((balance/goal_amount)*100) | round(2)}}%</h5>
        </div>
        <div class="fw-bold me-4">
          $ {{balance}} / {{goal_amount}}
        </div>
      </div>
      <div class="progress ms-2 me-4 mt-2" role="progressbar" aria-label="Animated striped example" aria-valuemin="0" aria-valuemax="100">
        {% if ((balance/goal_amount)*100) < 100 %}
          <div class="progress-bar progress-bar-striped progress-bar-animated bg-primary" style="width: {{ (balance/goal_amount)*100 }}%"></div>
        {% else %}
          <div class="progress-bar bg-success" style="width: {{ (balance/goal_amount)*100 }}%"></div>
        {% endif %}
      </div>
    </div>
  {% else %}
    <div class="d-flex h-75 justify-content-center align-items-center">
      <h4 class="text-danger">Please set a savings goal for this month!!</h4>
    </div>
  {% endif %}
</div>
<div class="Income-Sources grid-item">
  <div class="text-primary fw-bold">Income Sources</div>
</div>
<div class="Income grid-item">
  <div class="text-primary fw-bold">Income</div>
</div>
<div class="Dummy grid-item">
  <div class="text-primary fw-bold">Dummy</div>
</div>
<div class="Income-Expenses grid-item">
  <div class="text-primary fw-bold">Income & Expenses</div>
</div>
<div class="Assests grid-item">
  <div class="d-flex justify-content-between pe-2">
    <div class="text-primary fw-bold">Assests</div>
    <div>
      <button type="button" class="btn btn-primary p-1" data-bs-toggle="modal" data-bs-target="#assetsModal">
        <svg xmlns="http://www.w3.org/2000/svg" width="1.5rem" height="1.5rem" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
        </svg>
      </button>
      <div class="modal fade" id="assetsModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="assetsModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title text-primary" id="assetsModalLabel">Add Asset</h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="{{ url_for('home', month_id=month_id) }}" method="POST">
          <input type="hidden" name="form_name" value="assets">
          <div class="mb-3">
            <label for="categoryInput" class="form-label fs-5">Category<span class="text-danger">*</span></label>
            <input type="text" class="form-control" id="categoryInput" name="categoryInput" placeholder="Enter category" required>
          </div>
          <div class="mb-3">
            <label for="amountInput" class="form-label fs-5">Amount<span class="text-danger">*</span></label>
            <input type="number" class="form-control" id="amountInput" name="amountInput" placeholder="Enter amount" step="0.01" required>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
    </div>
  </div>
  <div class="overflow-x-hidden overflow-y-auto" style="height: 14.5rem">
    <div class="d-flex w-100 justify-content-center pe-4" style = "height: 9rem; width: 9rem;">
    {{pie_chart | safe}}
    </div>
    <div class="col">
      <div class="row row-cols-1 row-cols-sm-2 ps-3 g-2">
        {% for category, amount in assets.items() %}
          <div class="d-flex flex-column col m-0 ps-4 fs-6">
            <p class="mb-0 text-body-emphasis fw-bold">{{ category }}</p>
            <p class="m-0">$ {{ amount }}</p>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
</div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>

</body>
</html>