<div class="modal fade" id="expenseModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="expenseModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-2" id="expenseModalLabel">Add Expense</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="{{ url_for('personalfinance', month_id=month_id) }}" method="POST">
          <input type="hidden" name="form_name" value="expense">
          <div class="mb-3">
            <label for="categoryInput" class="form-label fs-5">Category<span class="text-danger">*</span></label>
            <input type="text" class="form-control" id="categoryInput" name="categoryInput" placeholder="Enter category" required>
          </div>
          <div class="mb-3">
            <label for="amountInput" class="form-label fs-5">Amount<span class="text-danger">*</span></label>
            <input type="number" class="form-control" id="amountInput" name="amountInput" placeholder="Enter amount" step="0.01" required>
          </div>
          <div class="mb-3">
            <label for="dateTimeInput" class="form-label fs-5">Date &amp; Time <span class="fs-6 text-secondary">(If not filled, current date &amp; time will be taken)</span></label>
            <input type="datetime-local" class="form-control" id="dateTimeInput" name="dateTimeInput">
          </div>
          <div class="mb-2">
            <label for="descriptionInput" class="form-label fs-5">Description</label>
            <textarea class="form-control" id="descriptionInput" name="descriptionInput" rows="3"></textarea>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>