<div class="d-flex months flex-column flex-shrink-0 p-3 bg-body-tertiary">
            <ul class="nav nav-pills flex-column">
              <hr>
              <li class="nav-item">
                {% if month_id == '01' %}
                <a href="{{ url_for(template_name, month_id='01')}}" class="nav-link active link-body-emphasis">
                {% else %}
                <a href="{{ url_for(template_name, month_id='01')}}" class="nav-link link-body-emphasis">
                {% endif %}
                  Jan
                </a>
              </li>
              <li>
                {% if month_id == '02' %}
                <a href="{{ url_for(template_name, month_id='02')}}" class="nav-link active link-body-emphasis">
                {% else %}
                <a href="{{ url_for(template_name, month_id='02')}}" class="nav-link link-body-emphasis">
                {% endif %}
                  Feb
                </a>
              </li>
              <li>
                {% if month_id == '03' %}
                <a href="{{ url_for(template_name, month_id='03')}}" class="nav-link active link-body-emphasis">
                {% else %}
                <a href="{{ url_for(template_name, month_id='03')}}" class="nav-link link-body-emphasis">
                {% endif %}
                  Mar
                </a>
              </li>
              <li>
                {% if month_id == '04' %}
                <a href="{{ url_for(template_name, month_id='04')}}" class="nav-link active link-body-emphasis">
                {% else %}
                <a href="{{ url_for(template_name, month_id='04')}}" class="nav-link link-body-emphasis">
                {% endif %}
                  Apr
                </a>
              </li>
              <li>
                {% if month_id == '05' %}
                <a href="{{ url_for(template_name, month_id='05')}}" class="nav-link active link-body-emphasis">
                {% else %}
                <a href="{{ url_for(template_name, month_id='05')}}" class="nav-link link-body-emphasis">
                {% endif %}
                  May
                </a>
              </li>
              <li>
                {% if month_id == '06' %}
                <a href="{{ url_for(template_name, month_id='06')}}" class="nav-link active link-body-emphasis">
                {% else %}
                <a href="{{ url_for(template_name, month_id='06')}}" class="nav-link link-body-emphasis">
                {% endif %}
                  Jun
                </a>
              </li>
              <li>
                {% if month_id == '07' %}
                <a href="{{ url_for(template_name, month_id='07')}}" class="nav-link active link-body-emphasis">
                {% else %}
                <a href="{{ url_for(template_name, month_id='07')}}" class="nav-link link-body-emphasis">
                {% endif %}
                  Jul
                </a>
              </li>
              <li>
                {% if month_id == '08' %}
                <a href="{{ url_for(template_name, month_id='08')}}" class="nav-link active link-body-emphasis">
                {% else %}
                <a href="{{ url_for(template_name, month_id='08')}}" class="nav-link link-body-emphasis">
                {% endif %}
                  Aug
                </a>
              </li>
              <li>
                {% if month_id == '09' %}
                <a href="{{ url_for(template_name, month_id='09')}}" class="nav-link active link-body-emphasis">
                {% else %}
                <a href="{{ url_for(template_name, month_id='09')}}" class="nav-link link-body-emphasis">
                {% endif %}
                  Sep
                </a>
              </li>
              <li>
                {% if month_id == '10' %}
                <a href="{{ url_for(template_name, month_id='10')}}" class="nav-link active link-body-emphasis">
                {% else %}
                <a href="{{ url_for(template_name, month_id='10')}}" class="nav-link link-body-emphasis">
                {% endif %}
                  Oct
                </a>
              </li>
              <li>
                {% if month_id == '11' %}
                <a href="{{ url_for(template_name, month_id='11')}}" class="nav-link active link-body-emphasis">
                {% else %}
                <a href="{{ url_for(template_name, month_id='11')}}" class="nav-link link-body-emphasis">
                {% endif %}
                  Nov
                </a>
              </li>
              <li>
                {% if month_id == '12' %}
                <a href="{{ url_for(template_name, month_id='12')}}" class="nav-link active link-body-emphasis">
                {% else %}
                <a href="{{ url_for(template_name, month_id='12')}}" class="nav-link link-body-emphasis">
                {% endif %}
                  Dec
          </a>
        </li>
      </ul>
    <hr>
</div>