<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FinFlex</title>
  <link rel="icon" type="favicon" href="{{ url_for('static', filename='Logo.ico') }}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet">
  <style>
    body{
      background-color: #e3eefb;;
    }


    .link-body-emphasis{
      padding-bottom: 15px;
    }

    .btn:hover:not(:focus),
    .nav-link:hover:not(:focus) {
      outline: 1px solid black;
      border-radius: 5px;
    }

    {% include 'navbarstyle.html' %}

    .top-grid{
      display: grid;
      width: 1295px;
      height: 660px;
      grid-template-columns: 95px 1200px ;
      grid-template-rows: 75px 585px ;
    }

    .months{
      grid-row: span 2;
    }

    .popup{
      padding-left: 130px;
    }

    .grid-container{
      display: grid;
      position: relative;
      width: 1300px;
      height: 500px;
      grid-template-columns: 325px 325px 325px 325px;
      grid-template-rows: 100px 100px 100px 200px ;
      gap: 10px;
      place-items: center;
    }

    .E-Button{
        grid-column: span 2;
    }

    .I-Button{
        grid-column: span 2;
    }
  </style>
</head>

<body>
  {% include 'navbar.html' %}
  <div class="d-flex">
    {% include 'sidebar.html' %}
    <span style="width: 460px;"></span>
  <div class="align-self-center fw-bolder" style="font-size: 44px;">
    Personal Finance
  </div>
  </div>
    <div class="top-grid">
    {% with template_name = 'personalfinance' %}
      {% include 'months.html'%}
    {% endwith %}
      
        {% with messages = get_flashed_messages() %}
          {% if messages %}
              {% for message in messages %}
                <div class="col-12 popup d-flex justify-content-center align-items-end">
                    <div class="alert alert-success w-50 mb-0 alert-dismissible fade show" role="alert">
                      <strong>{{ message }}</strong>
                      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                  </div>
              {% endfor %}
          {% endif %}
        {% endwith %}
      
        {% if request.args.get('message') %}
          <div class="col-12 popup d-flex justify-content-center align-items-end">
            <div class="alert alert-success w-50 mb-0 alert-dismissible fade show" role="alert">
              <strong>{{ message }}</strong>
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          </div>
        {% endif %}
            <div class="grid-container fs-2" style="padding-top : 30px">
            <div></div>
            <div class="Income grid-item">Income</div>
            <div class="Amount-1 grid-item">
              $ {{ total_income }}
            </div>
            <div></div>
            <div></div>
            <div class="Expense grid-item">Expense</div>
            <div class="Amount-2 grid-item">
             $ {{ total_expense }}
            </div>
            <div></div>
            <div></div>
            <div class="Balance grid-item"><hr>Balance</div>
            <div class="Amount-3 grid-item"><hr>
              {% if balance < 0 %}
                - $ {{ balance | abs }}
              {% else %}
                $ {{ balance }}
              {% endif %}
            </div>
            <div></div>
            <div class="E-Button grid-item">
  <button type="button" class="btn btn-danger px-5 py-3 fs-4" data-bs-toggle="modal" data-bs-target="#expenseModal">
    + Expense
  </button>
</div>

<div class="modal fade" id="expenseModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="expenseModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-2" id="expenseModalLabel">Add Expense</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="{{ url_for('personalfinance', month_id=month_id) }}" method="POST">
          <input type="hidden" name="form_name" value="expense">
          <div class="mb-3">
            <label for="categoryInput" class="form-label fs-5">Category<span class="text-danger">*</span></label>
              <input type="radio" class="btn-check" name="categoryInput" id="categoryInput1" value="Food" autocomplete="off" required>
              <label class="btn btn-outline-primary" for="categoryInput1">Food</label>
              <input type="radio" class="btn-check" name="categoryInput" id="categoryInput2" value="Commute" autocomplete="off" required>
              <label class="btn btn-outline-primary" for="categoryInput2">Commute</label>
              <input type="radio" class="btn-check" name="categoryInput" id="categoryInput3" value="Apparel" autocomplete="off" required>
              <label class="btn btn-outline-primary" for="categoryInput3">Apparel</label>
              <input type="radio" class="btn-check" name="categoryInput" id="categoryInput4" value="Medical" autocomplete="off" required>
              <label class="btn btn-outline-primary" for="categoryInput4">Medical</label>
              <input type="radio" class="btn-check" name="categoryInput" id="categoryInput5" value="Entertainment" autocomplete="off" required>
              <label class="btn btn-outline-primary" for="categoryInput5">Entertainment</label>
              <input type="radio" class="btn-check" name="categoryInput" id="categoryInput6" value="Electronic appliances" autocomplete="off" required>
              <label class="btn btn-outline-primary" for="categoryInput6">Electronic appliances</label>
              <input type="radio" class="btn-check" name="categoryInput" id="categoryInput7" value="Education" autocomplete="off" required>
              <label class="btn btn-outline-primary" for="categoryInput7">Education</label>
              <input type="radio" class="btn-check" name="categoryInput" id="categoryInput8" value="Stationery" autocomplete="off" required>
              <label class="btn btn-outline-primary" for="categoryInput8">Stationery</label>
              <input type="radio" class="btn-check" name="categoryInput" id="categoryInput9" value="Grocery" autocomplete="off" required>
              <label class="btn btn-outline-primary" for="categoryInput9">Grocery</label>
              <input type="radio" class="btn-check" name="categoryInput" id="categoryInput10" value="Miscellaneous" autocomplete="off" required>
              <label class="btn btn-outline-primary" for="categoryInput10">Miscellaneous</label>
          </div>

          <div class="mb-3">
            <label for="amountInput" class="form-label fs-5">Amount<span class="text-danger">*</span></label>
            <input type="number" class="form-control" id="amountInput" name="amountInput" placeholder="Enter amount" step="0.01" required>
          </div>
          <div class="mb-3">
            <label for="dateTimeInput" class="form-label fs-5">Date &amp; Time <span class="fs-6 text-secondary">(If not filled, current date &amp; time will be taken)</span></label>
            <input type="datetime-local" class="form-control" id="dateTimeInput" name="dateTimeInput">
          </div>
          <div class="mb-2">
            <label for="descriptionInput" class="form-label fs-5">Description</label>
            <textarea class="form-control" id="descriptionInput" name="descriptionInput" rows="3"></textarea>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="I-Button grid-item">
  <button type="button" class="btn btn-success px-5 py-3 fs-4" data-bs-toggle="modal" data-bs-target="#incomeModal">
    + Income
  </button>
</div>

<div class="modal fade" id="incomeModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="incomeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-2" id="incomeModalLabel">Add Income</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="{{ url_for('personalfinance', month_id=month_id) }}" method="POST">
          <input type="hidden" name="form_name" value="income">
          <div class="mb-3">
            <label for="categoryInput" class="form-label fs-5">Category<span class="text-danger">*</span></label>
              <input type="radio" class="btn-check" name="categoryInput" id="categoryInputA" value="Salary" autocomplete="off" required>
              <label class="btn btn-outline-primary" for="categoryInputA">Salary</label>
              <input type="radio" class="btn-check" name="categoryInput" id="categoryInputB" value="Bussiness" autocomplete="off" required>
              <label class="btn btn-outline-primary" for="categoryInputB">Bussiness</label>
              <input type="radio" class="btn-check" name="categoryInput" id="categoryInputC" value="Chits" autocomplete="off" required>
              <label class="btn btn-outline-primary" for="categoryInputC">Chits</label>
              <input type="radio" class="btn-check" name="categoryInput" id="categoryInputD" value="Scholarship" autocomplete="off" required>
              <label class="btn btn-outline-primary" for="categoryInputD">Scholarship</label>
              <input type="radio" class="btn-check" name="categoryInput" id="categoryInputE" value="Investment returns" autocomplete="off" required>
              <label class="btn btn-outline-primary" for="categoryInputE">Investment returns</label>
              <input type="radio" class="btn-check" name="categoryInput" id="categoryInputF" value="Gift" autocomplete="off" required>
              <label class="btn btn-outline-primary" for="categoryInputF">Gift</label>
              <input type="radio" class="btn-check" name="categoryInput" id="categoryInputG" value="Miscellaneous" autocomplete="off" required>
              <label class="btn btn-outline-primary" for="categoryInputG">Miscellaneous</label>
          </div>
          <div class="mb-3">
            <label for="amountInput" class="form-label fs-5">Amount<span class="text-danger">*</span></label>
            <input type="number" class="form-control" id="amountInput" name="amountInput" placeholder="Enter amount" step="0.01" required>
          </div>
          <div class="mb-3">
            <label for="dateTimeInput" class="form-label fs-5">Date &amp; Time <span class="fs-6 text-secondary">(If not filled, current date &amp; time will be taken)</span></label>
            <input type="datetime-local" class="form-control" id="dateTimeInput" name="dateTimeInput">
          </div>
          <div class="mb-2">
            <label for="descriptionInput" class="form-label fs-5">Description</label>
            <textarea class="form-control" id="descriptionInput" name="descriptionInput" rows="3"></textarea>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
    </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>

  </script>
</body>
</html>