<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FinFlex</title>
  <link rel="icon" type="favicon" href="{{ url_for('static', filename='Logo.ico') }}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet">
  <style>
    body{
      background-color: #e3eefb;;
    }

    .Logo {
      height: 80px;
    }

    .link-body-emphasis{
      padding-bottom: 15px;
    }

    .btn:hover:not(:focus),
    .nav-link:hover:not(:focus) {
      outline: 1px solid black;
      border-radius: 5px;
    }

    .container-fluid {
      display: flex;
      gap: 14rem;
    }

    .collapse ul {
      gap: 4rem;
      align-items: center;
    }

    .collapse ul a {
      font-size: 18px;
    }

    .top-grid{
      display: grid;
      width: 1300px;
      height: 635px;
      grid-template-columns: 100px 1200px ;
      grid-template-rows: 75px 560px ;
    }

    .months{
      grid-row: span 2;
    }

    .popup{
      padding-left: 130px;
    }

    .grid-container{
      display: grid;
      position: relative;
      width: 1300px;
      height: 500px;
      grid-template-columns: 325px 325px 325px 325px;
      grid-template-rows: 100px 100px 100px 200px ;
      gap: 10px;
      place-items: center;
    }

    .E-Button{
        grid-column: span 2;
    }

    .I-Button{
        grid-column: span 2;
    }
  </style>
</head>

<body>
  {% include 'navbar.html' %}
  <div class="d-flex">
    {% include 'sidebar.html' %}
    <span style="width: 460px;"></span>
  <div class="align-self-center fw-bolder" style="font-size: 44px;">
    Personal Finance
  </div>
  </div>
    <div class="top-grid">
        <div class="d-flex months flex-column flex-shrink-0 p-3 bg-body-tertiary">
            <ul class="nav nav-pills flex-column">
              <hr>
              <li class="nav-item">
                <a href="#" class="nav-link link-body-emphasis" aria-current="page">
                  Jan
                </a>
              </li>
              <li>
                <a href="#" class="nav-link link-body-emphasis">
                  Feb
                </a>
              </li>
              <li>
                <a href="#" class="nav-link link-body-emphasis">
                  Mar
                </a>
              </li>
              <li>
                <a href="#" class="nav-link link-body-emphasis">
                  Apr
                </a>
              </li>
              <li>
                <a href="#" class="nav-link link-body-emphasis">
                  May
                </a>
              </li>
              <li>
                <a href="#" class="nav-link link-body-emphasis">
                  Jun
                </a>
              </li>
              <li>
                <a href="#" class="nav-link link-body-emphasis">
                  Jul
                </a>
              </li>
              <li>
                <a href="#" class="nav-link link-body-emphasis">
                  Aug
                </a>
              </li>
              <li>
                <a href="#" class="nav-link link-body-emphasis">
                  Sep
                </a>
              </li>
              <li>
                <a href="#" class="nav-link link-body-emphasis">
                  Oct
                </a>
              </li>
              <li>
                <a href="#" class="nav-link link-body-emphasis">
                  Nov
                </a>
              </li>
              <li>
                <a href="#" class="nav-link link-body-emphasis">
                  Dec
                </a>
              </li>
            </ul>
            <hr>
        </div>
        {% if request.args.get('message') %}
          <div class="col-12 popup d-flex justify-content-center align-items-end">
            <div class="alert alert-success w-50 mb-0 alert-dismissible fade show" role="alert">
              <strong>{{ request.args.get('message') }}</strong>
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          </div>
        {% endif %}
            <div class="grid-container fs-2" style="padding-top : 30px">
            <div></div>
            <div class="Income grid-item">Income</div>
            <div class="Amount-1 grid-item">$ {{ total_income }}</div>
            <div></div>
            <div></div>
            <div class="Expense grid-item">Expense</div>
            <div class="Amount-2 grid-item">
             $ {{ total_expense }}
            </div>
            <div></div>
            <div></div>
            <div class="Balance grid-item"><hr>Balance</div>
            <div class="Amount-3 grid-item"><hr>
              {% if balance < 0 %}
                - $ {{ balance | abs }}
              {% else %}
                $ {{ balance }}
              {% endif %}
            </div>
            <div></div>
            <div class="E-Button grid-item">
  <button type="button" class="btn btn-danger px-5 py-3 fs-4" data-bs-toggle="modal" data-bs-target="#expenseModal">
    + Expense
  </button>
</div>

<div class="modal fade" id="expenseModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="expenseModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-2" id="expenseModalLabel">Add Expense</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="{{ url_for('personalfinance') }}" method="POST">
          <input type="hidden" name="form_name" value="expense">
          <div class="mb-3">
            <label for="categoryInput" class="form-label fs-5">Category<span class="text-danger">*</span></label>
            <input type="text" class="form-control" id="categoryInput" name="categoryInput" placeholder="Enter category" required>
          </div>
          <div class="mb-3">
            <label for="amountInput" class="form-label fs-5">Amount<span class="text-danger">*</span></label>
            <input type="number" class="form-control" id="amountInput" name="amountInput" placeholder="Enter amount" step="1" required>
          </div>
          <div class="mb-3">
            <label for="dateTimeInput" class="form-label fs-5">Date &amp; Time <span class="fs-6 text-secondary">(If not filled, current date &amp; time will be taken)</span></label>
            <input type="datetime-local" class="form-control" id="dateTimeInput" name="dateTimeInput">
          </div>
          <div class="mb-2">
            <label for="descriptionInput" class="form-label fs-5">Description</label>
            <textarea class="form-control" id="descriptionInput" name="descriptionInput" rows="3"></textarea>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="I-Button grid-item">
  <button type="button" class="btn btn-success px-5 py-3 fs-4" data-bs-toggle="modal" data-bs-target="#incomeModal">
    + Income
  </button>
</div>

<div class="modal fade" id="incomeModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="incomeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-2" id="incomeModalLabel">Add Income</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="{{ url_for('personalfinance') }}" method="POST">
          <input type="hidden" name="form_name" value="income">
          <div class="mb-3">
            <label for="categoryInput" class="form-label fs-5">Category<span class="text-danger">*</span></label>
            <input type="text" class="form-control" id="categoryInput" name="categoryInput" placeholder="Enter category" required>
          </div>
          <div class="mb-3">
            <label for="amountInput" class="form-label fs-5">Amount<span class="text-danger">*</span></label>
            <input type="number" class="form-control" id="amountInput" name="amountInput" placeholder="Enter amount" required>
          </div>
          <div class="mb-3">
            <label for="dateTimeInput" class="form-label fs-5">Date &amp; Time <span class="fs-6 text-secondary">(If not filled, current date &amp; time will be taken)</span></label>
            <input type="datetime-local" class="form-control" id="dateTimeInput" name="dateTimeInput">
          </div>
          <div class="mb-2">
            <label for="descriptionInput" class="form-label fs-5">Description</label>
            <textarea class="form-control" id="descriptionInput" name="descriptionInput" rows="3"></textarea>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
    </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>

  </script>
</body>
</html>